@import './import/base.less';

#recipe {
	#title {
		h1.recipe-title {
			.column(7.5);
			display:inline-block;
			font-size: 2em;
		}

		.control {
			.column(1.5);
			display:inline-block;
			a {
				.border-box;
				width: 100%;
				.pull-right;
			}
		}
	}

	#image {
		.column(7);
		height: 350px;
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	#materials {
		.column(5);
		margin-bottom: 20px;

		.material {
			.column(12);
			margin-left: 10px;
			padding: 0 5px;
			p {
				display: inline-block;
			}

			.material-name {
				margin: 0;
			}

			.material-quantity {
				margin: 0;
				.pull-right;
			}
		}
	}

	#controls {
		.column(4);
		margin-bottom: 10px;

		h3 {
			margin: 0;
			font-size: 15px;
		}

		.control {
			.column(4);
			display: inline-block;

			a {
				.border-box;
				width: 100%;
			}
		}
	}

	#procedures {
		.column(12);
		margin-top: 10px;
		margin-bottom: 10px;
		.procedure {
			.column(3);
			.round();
			height: 150px;
			background-color: darken(@main-color, 10%);
			margin-bottom: 10px;

			p {
				margin: 0;
				padding: 5px;
			}
		}

		.complete {
			.column(3);
			margin: 0;
			padding: 0;
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			a {
				display: block;
				line-height: 150px;
				text-decoration: none;
				color: white;
			}
		}
	}
}