@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import './grid.less';
@import './form.less';
@import './buttons.less';
@import './functions.less';
@import './customTags.less';
@import './settings.less';

body {
	min-width: 1024px;
	width: 100%;
	margin: 0;
	background-color: @background-color;
	font-size: @font-medium;
}

header {
	#header-upper-dummy {
		.column(12);
		height: 25px;
	}

	#header-lower-dummy {
		.column(12);
		height: 60px;
		margin-bottom: 20px;
	}

	#header {
		.opacity(90);
		min-width: 1024px;
		width: 100%;
		height: 85px;
		position: fixed;
		z-index: 1;

		#header-upper {
			width: 100%;
			height: 25px;
			.background-gradient(darken(@main-color, 80%));

			.header-inner {
				.column(11);
				.push(0.5);

				.header-logout {
					.column(2);
					.push(10);

					a {
						float: right;
						margin-left: 20px;
						color: #FFFFFF;
						line-height: 25px;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		#header-lower {
			width: 100%;
			height: 60px;
			background-color: @main-color;

			.header-inner {
				.column(11);
				.push(0.5);

				.header-logo {
					.column(6);
					height: 60px;
					font-family: 'Bad Script', cursive;

					a {
						color: #000000;
						text-decoration: none;
						font-weight: bold;
						font-size: @font-huge;
						line-height: 60px;
					}

					p {
						margin: 10px;
						font-size: @font-small;
						display: inline-block;
					}
				}

				.header-control {
					.column(6);

					ul {
						margin: 0;

						li {
							.column(4);
							height: 60px;
							display: block;
							float: left;
							list-style: none;
							border-left:1px solid @border-color;
							margin: 0;
							cursor: pointer;
							text-align: center;

							a {
								line-height: 60px;
								text-decoration: none;
								color: #000000;
							}

							&:hover {
								background-color: darken(@main-color, 5%);
							}

							&:last-child {
								border-right:1px solid @border-color;
							}

							&:after {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

#wrapper {
	.column(11);
	.push(0.5);
	position: relative;

	#content {
		.column(9);

		>section, >aside {
			.column(12);
			.round();
			padding: 10px;
			margin-bottom: 20px;
			background-color: @main-color;
		}
	}

	#sidebar {
		.column(3);
		.round();
		background-color: @main-color;
		padding: 10px;

		> aside {
			padding: 5px;
			border: 1px solid @border-color;

			* {
				padding: 5px;
			}

			h2 {
				.h-decoration(@font-medium);
			}

			a {
				.border-box;
				display: block;
				width: 100%;
			}

			canvas {
				.border-box;
				display: block;
				margin: 0 auto;
			}

			img {
				.border-box;
				height: 100%;
				width: 100%;
			}
		}
	}

	footer {
		.column(12);
		.border-box;
		margin-top: 10px;
		padding: 10px;
		height: 100px;
		text-align: center;
		font-size: @font-small;
		color: #FFFFFF;
		.background-gradient(darken(@main-color, 80%));

		ul li {
			display: inline-block;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			&:first-child {
				&:before {
					content: "";
				}
			}

			&:before {
				content: "　|　";
			}
		}
	}
}