.btn {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, lighten #ffffff, #f7f7f7);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #f0f0f0 #f0f0f0 #e0e0e0;
  color: #636363;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #f0f0f0;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #f3a01b;
  background-image: -moz-linear-gradient(top, #f4a62a, #f3a01b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4a62a), to(#f3a01b));
  background-image: -webkit-linear-gradient(top, lighten #f4a62a, #f3a01b);
  background-image: -o-linear-gradient(top, #f4a62a, #f3a01b);
  background-image: linear-gradient(to bottom, #f4a62a, #f3a01b);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #f29a0d #f29a0d #d6870b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #f29a0d;
}
.btn-danger {
  background-color: #ed514d;
  background-image: -moz-linear-gradient(top, #ee5f5b, #ed514d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#ed514d));
  background-image: -webkit-linear-gradient(top, lighten #ee5f5b, #ed514d);
  background-image: -o-linear-gradient(top, #ee5f5b, #ed514d);
  background-image: linear-gradient(to bottom, #ee5f5b, #ed514d);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eb443f #eb443f #e82924;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #eb443f;
}
.btn-success {
  background-color: #57c057;
  background-image: -moz-linear-gradient(top, #62c462, #57c057);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57c057));
  background-image: -webkit-linear-gradient(top, lighten #62c462, #57c057);
  background-image: -o-linear-gradient(top, #62c462, #57c057);
  background-image: linear-gradient(to bottom, #62c462, #57c057);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #4cbc4c #4cbc4c #40a940;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #4cbc4c;
}
.btn-info {
  background-color: #4ebbdb;
  background-image: -moz-linear-gradient(top, #5bc0de, #4ebbdb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#4ebbdb));
  background-image: -webkit-linear-gradient(top, lighten #5bc0de, #4ebbdb);
  background-image: -o-linear-gradient(top, #5bc0de, #4ebbdb);
  background-image: linear-gradient(to bottom, #5bc0de, #4ebbdb);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #42b6d9 #42b6d9 #2aabd2;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #42b6d9;
}
.btn-inverse {
  background-color: #3c3c3c;
  background-image: -moz-linear-gradient(top, #444444, #3c3c3c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#3c3c3c));
  background-image: -webkit-linear-gradient(top, lighten #444444, #3c3c3c);
  background-image: -o-linear-gradient(top, #444444, #3c3c3c);
  background-image: linear-gradient(to bottom, #444444, #3c3c3c);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #353535 #353535 #252525;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #353535;
}
